/* JOB OFFERS */

main {
    margin-top: 5%;
    font-size: 1em;
}

.job-tabs {
    text-align: center;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    border-bottom: 2px solid #ccc;
    width: 70%;
    margin: 0 auto 1rem auto;
}


.title {
    text-align: center;
    font-size: 3.5em;
    color: #4b004b;
    font-family: "Playfair", sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;

}

.tab-btn {
    background: none;
    border: none;
    color: #d4cad4;
    cursor: pointer;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    font-size: 2em;
    width: 50%;
}

.tab-btn.active {
    border-color: #4b004b;
    color: #4b004b;
}

.tab-content {
    display: none;
    padding: 1rem;
    margin-bottom: 2%;

}

.tab-content.active {
    display: block;
}

.content {
    font-size: 1.5em;
    color: #52375b;
    line-height: 1em;
    width: 70%;
    margin: 0 auto 1rem auto;
}

.job-button {
    display: inline-block;
    background-color: #52375b;
    color: #ffffff;
    padding: 1rem 2rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1rem;
    margin-top: 2rem;
    transition: transform 0.2s ease-in-out;
}

.job-button:hover {
    transform: scale(1.05);
}

.tablet {
    display: flex;
    width: 100%;
    height: 60vh;
    background: rgba(43, 12, 78, 0.5);
    align-items: center;

}


.tablet-text {

    color: white;
    width: 100%;

}

.tablet-text p {
    width: 80%;
    margin: 0 auto;
    line-height: 2em;

}


.tablet-image {

    width: 40%;
    max-height: 60vh;
}

@media (max-width: 768px) {

    main {
        margin-top: 17%;
        font-size: 0.7em;
    }

    .tablet-text p {

        font-size: 1.4vh;
    }

}


@media (max-width: 390px) {



    main {
        margin-top: 17%;
        font-size: 0.5em;
    }

    .tablet {
        height: 35vh;
    }

    .tablet-image {
        display: none;
    }

    .tablet-text p {

        font-size: 1.6vh;
    }

}